{
  "Get-AzAppConfigurationStore+[NoContext]+List+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "5" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11972" ],
        "Link": [ "\u003c/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview\u0026$skipToken=contoso-app-config\u003e; rel=\"next\"" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"type\":\"Microsoft.AppConfiguration/configurationStores\",\"properties\":{\"provisioningState\":\"Succeeded\",\"creationDate\":\"2020-05-12T07:34:27+00:00\",\"endpoint\":\"https://appconf-mf5wax.azconfig.io\"},\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appconf-rg-fed3x8/providers/Microsoft.AppConfiguration/configurationStores/appconf-mf5wax\",\"name\":\"appconf-mf5wax\",\"location\":\"eastus\",\"tags\":{}},{\"type\":\"Microsoft.AppConfiguration/configurationStores\",\"properties\":{\"provisioningState\":\"Succeeded\",\"creationDate\":\"2020-04-09T12:27:20+00:00\",\"endpoint\":\"https://contoso-app-config.azconfig.io\"},\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/testgroup/providers/Microsoft.AppConfiguration/configurationStores/contoso-app-config\",\"name\":\"contoso-app-config\",\"location\":\"eastus\",\"tags\":{}}],\"nextLink\":\"https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview\u0026$skipToken=contoso-app-config\"}"
    }
  },
  "Get-AzAppConfigurationStore+[NoContext]+List+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.AppConfiguration/configurationStores?api-version=2019-02-01-preview\u0026$skipToken=contoso-app-config+2": {
    "Request": {
 [...]
