{
  "Get-AzAppConfigurationStoreKey+[NoContext]+List+$POST+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appconf-rg-ghd9wo/providers/Microsoft.AppConfiguration/configurationStores/appconf-gpfsqi/ListKeys?api-version=2019-02-01-preview+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appconf-rg-ghd9wo/providers/Microsoft.AppConfiguration/configurationStores/appconf-gpfsqi/ListKeys?api-version=2019-02-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "12" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"yC0n-l0-s0:2vPTB5NolJPcuyteCjnF\",\"name\":\"Primary\",\"value\":\"/7A+CwshlHvOoNimalRxtTRoaxJaRXwkhp1eHNqr2aI=\",\"connectionString\":\"Endpoint=https://appconf-gpfsqi.azconfig.io;Id=yC0n-l0-s0:2vPTB5NolJPcuyteCjnF;Secret=/7A+CwshlHvOoNimalRxtTRoaxJaRXwkhp1eHNqr2aI=\",\"lastModified\":\"2020-05-12T09:04:47+00:00\",\"readOnly\":false},{\"id\":\"RCdq-l0-s0:e7TpFC6BBsyrWhX3+4BP\",\"name\":\"Secondary\",\"value\":\"HtPmPki4GpVMeviHtzKsmrdJw6RGXATGIH3MYpYGXDY=\",\"connectionString\":\"Endpoint=https://appconf-gpfsqi.azconfig.io;Id=RCdq-l0-s0:e7TpFC6BBsyrWhX3+4BP;Secret=HtPmPki4GpVMeviHtzKsmrdJw6RGXATGIH3MYpYGXDY=\",\"lastModified\":\"2020-05-12T09:04:47+00:00\",\"readOnly\":false},{\"id\":\"kX2+-l0-s0:2EW3KIUInGRSbek/7Hjl\",\"name\":\"Primary Read Only\",\"value\":\"AcqF1zHQTocIngRDsR4xIIp8DEjCettVSMWGCqx4nI0=\",\"connectionString\":\"Endpoint=https://appconf-gpfsqi.azconfig.io;Id=kX2+-l0-s0:2EW3KIUInGRSbek/7Hjl;Secret=AcqF1zHQTocIngRDsR4xIIp8DEjCettVSMWGCqx4nI0=\",\"lastModified\":\"2020-05-12T09:04:47+00:00\",\"readOnly\":true},{\"id\":\"R1ON-l0-s0:c757EY1RDsiXgz53Lv2v\",\"name\":\"Secondary Read Only\",\"value\":\"BRxJ1imGry0w47G9bAonqSpBPd/qZsDFKu5Y8r8QkEo=\",\"connectionString\":\"Endpoint=https://appconf-gpfsqi.azconfig.io;Id=R1ON-l0-s0:c757EY1RDsiXgz53Lv2v;Secret=BRxJ1imGry0w47G9bAonqSpBPd/qZsDFKu5Y8r8QkEo=\",\"lastModified\":\"2020-05-12T09:04:47+00:00\",\"readOnly\":true}],\"nextLink\":null}"
    }
  },
  "Get-AzAppConfigurationStoreKey+[NoContext]+List+$DELETE+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appconf-rg-ghd9wo/providers/Microsoft.AppConfiguration/configurationStores/appconf-gpfsqi?api-version=2019-02-01-preview+2": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appconf-rg-ghd9wo/providers/Microsoft.AppConfiguration/configurationStores/appconf-gpfsqi?api-version=2019-02-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "13" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14999" ]
      },
      "ContentHeaders": {
      },
      "Content": null
    }
  }
}