{
  "Get-AzAppConfigurationStoreKey+[NoContext]+List+$POST+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appconf-rg-fed3x8/providers/Microsoft.AppConfiguration/configurationStores/appconf-mf5wax/ListKeys?api-version=2019-02-01-preview+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appconf-rg-fed3x8/providers/Microsoft.AppConfiguration/configurationStores/appconf-mf5wax/ListKeys?api-version=2019-02-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "12" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1198" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"j56H-l0-s0:arLai5ACl4T+tb1+Mxkc\",\"name\":\"Primary\",\"value\":\"TOFNkbjWsLFJOI1MEd+mpsR61zDVtKdj21ZnG54vTCo=\",\"connectionString\":\"Endpoint=https://appconf-mf5wax.azconfig.io;Id=j56H-l0-s0:arLai5ACl4T+tb1+Mxkc;Secret=TOFNkbjWsLFJOI1MEd+mpsR61zDVtKdj21ZnG54vTCo=\",\"lastModified\":\"2020-05-12T07:34:26+00:00\",\"readOnly\":false},{\"id\":\"3N/J-l0-s0:fj8Ao/2rAXoMrjHAKDNk\",\"name\":\"Secondary\",\"value\":\"9fnik2mW0ca3F2OBC17Z8jYZ78hRv98mS6JbBUMdmAk=\",\"connectionString\":\"Endpoint=https://appconf-mf5wax.azconfig.io;Id=3N/J-l0-s0:fj8Ao/2rAXoMrjHAKDNk;Secret=9fnik2mW0ca3F2OBC17Z8jYZ78hRv98mS6JbBUMdmAk=\",\"lastModified\":\"2020-05-12T07:34:26+00:00\",\"readOnly\":false},{\"id\":\"mcQI-l0-s0:5qQ5t/yq3tawntC/QN4o\",\"name\":\"Primary Read Only\",\"value\":\"dDRJxiFDzJ91NRWg4LVwE66oqnvO3gqxZiNFe+qnBXk=\",\"connectionString\":\"Endpoint=https://appconf-mf5wax.azconfig.io;Id=mcQI-l0-s0:5qQ5t/yq3tawntC/QN4o;Secret=dDRJxiFDzJ91NRWg4LVwE66oqnvO3gqxZiNFe+qnBXk=\",\"lastModified\":\"2020-05-12T07:34:26+00:00\",\"readOnly\":true},{\"id\":\"Ie+a-l0-s0:OIoBIRU8CT+uoUWADbCm\",\"name\":\"Secondary Read Only\",\"value\":\"UDZWy3XdgzV/xkpujjeuYOLiwMjY/7XDwCL+AYIfRw0=\",\"connectionString\":\"Endpoint=https://appconf-mf5wax.azconfig.io;Id=Ie+a-l0-s0:OIoBIRU8CT+uoUWADbCm;Secret=UDZWy3XdgzV/xkpujjeuYOLiwMjY/7XDwCL+AYIfRw0=\",\"lastModified\":\"2020-05-12T07:34:26+00:00\",\"readOnly\":true}],\"nextLink\":null}"
    }
  },
  "Get-AzAppConfigurationStoreKey+[NoContext]+List+$DELETE+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appconf-rg-fed3x8/providers/Microsoft.AppConfiguration/configurationStores/appconf-mf5wax?api-version=2019-02-01-preview+2": {
    "Request": {
      "Method": "DELETE",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appconf-rg-fed3x8/providers/Microsoft.AppConfiguration/configurationStores/appconf-mf5wax?api-version=2019-02-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "13" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-deletes": [ "14998" ]
      },
      "ContentHeaders": {
      },
      "Content": null
    }
  }
}