{
  "New-AzAppConfigurationStoreKey+[NoContext]+RegenerateExpanded+$POST+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appconf-rg-fed3x8/providers/Microsoft.AppConfiguration/configurationStores/appconf-po60kc/ListKeys?api-version=2019-02-01-preview+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appconf-rg-fed3x8/providers/Microsoft.AppConfiguration/configurationStores/appconf-po60kc/ListKeys?api-version=2019-02-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "18" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1197" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"4QT7-l0-s0:n8qsMNyCF3s8rH/xf1J7\",\"name\":\"Primary\",\"value\":\"8ZAWo19YiMc/KvNJH69q7/TCzm7LoPWrRzuBzwbGSgE=\",\"connectionString\":\"Endpoint=https://appconf-po60kc.azconfig.io;Id=4QT7-l0-s0:n8qsMNyCF3s8rH/xf1J7;Secret=8ZAWo19YiMc/KvNJH69q7/TCzm7LoPWrRzuBzwbGSgE=\",\"lastModified\":\"2020-05-12T07:34:57+00:00\",\"readOnly\":false},{\"id\":\"dk/i-l0-s0:JYBHxBh1KseqwcFe0WPf\",\"name\":\"Secondary\",\"value\":\"nhmlV3oaq5bDGW6sTeYOYV1penKho/M3u14oknLVYds=\",\"connectionString\":\"Endpoint=https://appconf-po60kc.azconfig.io;Id=dk/i-l0-s0:JYBHxBh1KseqwcFe0WPf;Secret=nhmlV3oaq5bDGW6sTeYOYV1penKho/M3u14oknLVYds=\",\"lastModified\":\"2020-05-12T07:34:57+00:00\",\"readOnly\":false},{\"id\":\"g2H3-l0-s0:8/0NSPO+EkxRC1P+j/kV\",\"name\":\"Primary Read Only\",\"value\":\"PCB9YCIw76obMfuz1eybZC5w7feW1rJAclpGe/m/Bkc=\",\"connectionString\":\"Endpoint=https://appconf-po60kc.azconfig.io;Id=g2H3-l0-s0:8/0NSPO+EkxRC1P+j/kV;Secret=PCB9YCIw76obMfuz1eybZC5w7feW1rJAclpGe/m/Bkc=\",\"lastModified\":\"2020-05-12T07:34:57+00:00\",\"readOnly\":true},{\"id\":\"cX1y-l0-s0:YyYsX2gqSD5sJOI7Nnn/\",\"name\":\"Secondary Read Only\",\"value\":\"9jFubyYV9kluZkF8TWusR1WCD7MlxUXyh3tpT2sZwuc=\",\"connectionString\":\"Endpoint=https://appconf-po60kc.azconfig.io;Id=cX1y-l0-s0:YyYsX2gqSD5sJOI7Nnn/;Secret=9jFubyYV9kluZkF8TWusR1WCD7MlxUXyh3tpT2sZwuc=\",\"lastModified\":\"2020-05-12T07:34:57+00:00\",\"readOnly\":true}],\"nextLink\":null}"
    }
  },
  "New-AzAppConfigurationStoreKey+[NoContext]+RegenerateExpanded+$POST+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appconf-rg-fed3x8/providers/Microsoft.AppConfiguration/configurationStores/appconf-po60kc/RegenerateKey?api-version=2019-02-01-preview+2": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appconf-rg-fed3x8/[...]
