{
  "New-AzAppConfigurationStoreKey+[NoContext]+RegenerateExpanded+$POST+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appconf-rg-ghd9wo/providers/Microsoft.AppConfiguration/configurationStores/appconf-ybt6dj/ListKeys?api-version=2019-02-01-preview+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appconf-rg-ghd9wo/providers/Microsoft.AppConfiguration/configurationStores/appconf-ybt6dj/ListKeys?api-version=2019-02-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "18" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1198" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"XkG4-l0-s0:ONjRJEGcQf1SVCy+dd45\",\"name\":\"Primary\",\"value\":\"//R7DknE/OCQoKHXmXaXsrIahDOUhnRX5IbUK+e0vzU=\",\"connectionString\":\"Endpoint=https://appconf-ybt6dj.azconfig.io;Id=XkG4-l0-s0:ONjRJEGcQf1SVCy+dd45;Secret=//R7DknE/OCQoKHXmXaXsrIahDOUhnRX5IbUK+e0vzU=\",\"lastModified\":\"2020-05-12T09:05:10+00:00\",\"readOnly\":false},{\"id\":\"KZ9H-l0-s0:IFITax5IWaNsoU3A8jEF\",\"name\":\"Secondary\",\"value\":\"ETqRc9m3460fFEhGM0TY/x2p+vc+DV2tFcNth5/R0IE=\",\"connectionString\":\"Endpoint=https://appconf-ybt6dj.azconfig.io;Id=KZ9H-l0-s0:IFITax5IWaNsoU3A8jEF;Secret=ETqRc9m3460fFEhGM0TY/x2p+vc+DV2tFcNth5/R0IE=\",\"lastModified\":\"2020-05-12T09:05:10+00:00\",\"readOnly\":false},{\"id\":\"eezr-l0-s0:hin75yG1KVqOQ0YAfyQ6\",\"name\":\"Primary Read Only\",\"value\":\"Uw8p170GcJq2F4jBD3CZnk+Mi1rHmZOAho9p/IMInnE=\",\"connectionString\":\"Endpoint=https://appconf-ybt6dj.azconfig.io;Id=eezr-l0-s0:hin75yG1KVqOQ0YAfyQ6;Secret=Uw8p170GcJq2F4jBD3CZnk+Mi1rHmZOAho9p/IMInnE=\",\"lastModified\":\"2020-05-12T09:05:10+00:00\",\"readOnly\":true},{\"id\":\"vcUV-l0-s0:YzCHkuPcvzl6HKK6KzKM\",\"name\":\"Secondary Read Only\",\"value\":\"YghdQv4RzmlgxwghfB1S6OgW0oOZ88wFWJXQzTEyFdk=\",\"connectionString\":\"Endpoint=https://appconf-ybt6dj.azconfig.io;Id=vcUV-l0-s0:YzCHkuPcvzl6HKK6KzKM;Secret=YghdQv4RzmlgxwghfB1S6OgW0oOZ88wFWJXQzTEyFdk=\",\"lastModified\":\"2020-05-12T09:05:10+00:00\",\"readOnly\":true}],\"nextLink\":null}"
    }
  },
  "New-AzAppConfigurationStoreKey+[NoContext]+RegenerateExpanded+$POST+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appconf-rg-ghd9wo/providers/Microsoft.AppConfiguration/configurationStores/appconf-ybt6dj/RegenerateKey?api-version=2019-02-01-preview+2": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appconf-rg-ghd9wo/[...]
