{
  "New-AzAppConfigurationStore+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appconf-rg-ghd9wo/providers/Microsoft.AppConfiguration/configurationStores/appconf-ybt6dj?api-version=2019-02-01-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appconf-rg-ghd9wo/providers/Microsoft.AppConfiguration/configurationStores/appconf-ybt6dj?api-version=2019-02-01-preview",
      "Content": "{\n  \"location\": \"eastus\"\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Retry-After": [ "10" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1197" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/f4292469-e75a-8d39-d59e-7d0c448ac1a4?api-version=2019-02-01-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"type\":\"Microsoft.AppConfiguration/configurationStores\",\"properties\":{\"provisioningState\":\"Creating\",\"creationDate\":\"2020-05-12T09:05:10.6511182+00:00\",\"endpoint\":null},\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appconf-rg-ghd9wo/providers/Microsoft.AppConfiguration/configurationStores/appconf-ybt6dj\",\"name\":\"appconf-ybt6dj\",\"location\":\"eastus\",\"tags\":{}}"
    }
  },
  "New-AzAppConfigurationStore+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/f4292469-e75a-8d39-d59e-7d0c448ac1a4?api-version=2019-02-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/f4292469-e75a-8d39-d59e-7d0c448ac1a4?api-version=2019-02-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "14", "15" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11983" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/f4292469-e75a-8d39-d59e-7d0c448ac1a4?api-version=2019-02-01-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/f4292469-e75a-8d39-d59e-7d0c448ac1a4\",\"name\":\"f4292469-e75a-8d39-d59e-7d0c448ac1a4\",\"status\":\"Succeeded\",\"error\":null}"
    }
  },
  "New-AzAppConfigurationStore+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appconf-rg-ghd9wo/providers/Microsoft.AppConfiguration/configurationStores/appconf-ybt6dj?api-version=2019-02-01-preview+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appconf-rg-ghd9wo/providers/Microsoft.AppConfiguration/configurationStores/appconf-ybt6dj?api-version=2019-02-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "14", "15", "16" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "W/\"00009581-0000-0100-0000-5eba66c70000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11982" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"type\":\"Microsoft.AppConfiguration/configurationStores\",\"properties\":{\"provisioningState\":\"Succeeded\",\"creationDate\":\"2020-05-12T09:05:11+00:00\",\"endpoint\":\"https://appconf-ybt6dj.azconfig.io\"},\"id\":\"/subscriptions/9e223dbe-3399-4e19-88[...]
