{
  "New-AzAppConfigurationStore+[NoContext]+CreateExpanded+$PUT+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appconf-rg-fed3x8/providers/Microsoft.AppConfiguration/configurationStores/appconf-po60kc?api-version=2019-02-01-preview+1": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appconf-rg-fed3x8/providers/Microsoft.AppConfiguration/configurationStores/appconf-po60kc?api-version=2019-02-01-preview",
      "Content": "{\n  \"location\": \"eastus\"\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 201,
      "Headers": {
        "Retry-After": [ "10" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1196" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/87ec9c50-c855-b3bb-5348-6edc0d9df67d?api-version=2019-02-01-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"type\":\"Microsoft.AppConfiguration/configurationStores\",\"properties\":{\"provisioningState\":\"Creating\",\"creationDate\":\"2020-05-12T07:34:52.4145335+00:00\",\"endpoint\":null},\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appconf-rg-fed3x8/providers/Microsoft.AppConfiguration/configurationStores/appconf-po60kc\",\"name\":\"appconf-po60kc\",\"location\":\"eastus\",\"tags\":{}}"
    }
  },
  "New-AzAppConfigurationStore+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/87ec9c50-c855-b3bb-5348-6edc0d9df67d?api-version=2019-02-01-preview+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/87ec9c50-c855-b3bb-5348-6edc0d9df67d?api-version=2019-02-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "14", "15" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11966" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/87ec9c50-c855-b3bb-5348-6edc0d9df67d?api-version=2019-02-01-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.AppConfiguration/locations/eastus/operationsStatus/87ec9c50-c855-b3bb-5348-6edc0d9df67d\",\"name\":\"87ec9c50-c855-b3bb-5348-6edc0d9df67d\",\"status\":\"Succeeded\",\"error\":null}"
    }
  },
  "New-AzAppConfigurationStore+[NoContext]+CreateExpanded+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appconf-rg-fed3x8/providers/Microsoft.AppConfiguration/configurationStores/appconf-po60kc?api-version=2019-02-01-preview+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appconf-rg-fed3x8/providers/Microsoft.AppConfiguration/configurationStores/appconf-po60kc?api-version=2019-02-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "14", "15", "16" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "W/\"0200cf32-0000-0100-0000-5eba51a10000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11965" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"type\":\"Microsoft.AppConfiguration/configurationStores\",\"properties\":{\"provisioningState\":\"Succeeded\",\"creationDate\":\"2020-05-12T07:34:58+00:00\",\"endpoint\":\"https://appconf-po60kc.azconfig.io\"},\"id\":\"/subscriptions/9e223dbe-3399-4e19-88[...]
