{
  "Test-AzAppConfigurationStoreNameAvailability+[NoContext]+CheckExpanded+$POST+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.AppConfiguration/checkNameAvailability?api-version=2019-02-01-preview+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.AppConfiguration/checkNameAvailability?api-version=2019-02-01-preview",
      "Content": "{\n  \"name\": \"appconf-az3xge\",\n  \"type\": \"Microsoft.AppConfiguration/configurationStores\"\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11955" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"nameAvailable\":false,\"message\":\"The specified name is already in use.\",\"reason\":\"AlreadyExists\"}"
    }
  },
  "Test-AzAppConfigurationStoreNameAvailability+[NoContext]+CheckViaIdentityExpanded+$POST+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.AppConfiguration/checkNameAvailability?api-version=2019-02-01-preview+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/providers/Microsoft.AppConfiguration/checkNameAvailability?api-version=2019-02-01-preview",
      "Content": "{\n  \"name\": \"asdsd-124asdad\",\n  \"type\": \"Microsoft.AppConfiguration/configurationStores\"\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11954" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"nameAvailable\":true,\"message\":\"The specified name is available.\",\"reason\":null}"
    }
  }
}