{
  "Update-AzAppConfigurationStore+[NoContext]+UpdateViaIdentityExpanded+$GET+https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appconf-rg-ghd9wo/providers/Microsoft.AppConfiguration/configurationStores/appconf-6imdr1?api-version=2019-02-01-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appconf-rg-ghd9wo/providers/Microsoft.AppConfiguration/configurationStores/appconf-6imdr1?api-version=2019-02-01-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "36" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "W/\"0300c70b-0000-0100-0000-5eba66eb0000\"" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11970" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"type\":\"Microsoft.AppConfiguration/configurationStores\",\"properties\":{\"provisioningState\":\"Succeeded\",\"creationDate\":\"2020-05-12T09:05:47+00:00\",\"endpoint\":\"https://appconf-6imdr1.azconfig.io\"},\"id\":\"/subscriptions/9e223dbe-3399-4e19-88eb-0975f02ac87f/resourceGroups/appconf-rg-ghd9wo/providers/Microsoft.AppConfiguration/configurationStores/appconf-6imdr1\",\"name\":\"appconf-6imdr1\",\"location\":\"eastus\",\"tags\":{}}"
    }
  }
}